body {
  font-family: Optima, sans-serif;
  margin: 0;
  padding: 0;
}

.shippingtext {
  background-color: black;
  color: white;
  text-align: center;
  line-height: 20px;
  height: 20px;
  width: 100%;
  font-weight: 700;
}

.tabs {
  background-color: #d6ccc2;
  overflow: hidden;
}

.tabs a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  font-size: 16px;
  border-right: 1px solid black;
}

.subtab {
  font-weight: bold;
}

.tabs i.fa-cart-shopping,
.tabs i.fa-circle-user {
  float: right;
  padding: 14px 10px;
  margin-top: 5px;
}

.tabs a.icon {
  display: none;
}

.body1 {
  width: 100%;
  display: flex;
  height: 900px;
}

.text {
  background-color: #f2f2f2;
  width: 50%;
  text-align: center;
}
.title {
  font-size: 80px;
  margin-top: 0;
  padding-top: 350px;
  margin-bottom: 20px;
  font-weight: 300;
}

.des {
  font-weight: lighter;
  margin-bottom: 70px;
  font-size: 20px;
}

.text button {
  background-color: black;
  color: white;
  height: 40px;
  width: 200px;
  border-radius: 20px;
  font-size: 20px;
}

.mainimage {
  width: 50%;
  height: auto;
}

.mainimage img {
  height: 900px;
  width: 100%;
  object-fit: cover;
}

.bestsellers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
}

.bestsellers h4 {
  font-size: 22px;
  margin: 0;
}

.viewmore {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  cursor: pointer;
}

.viewmore:hover {
  text-decoration: underline;
}

.catalogue {
  display: flex;
}

.catalogueimages {
  padding: 0;
  margin: 0;
  gap: 0;
  display: flex;
  width: 100%;
}

.imgbox {
  position: relative;
  display: inline-block;
  width: 100%;
}

.label {
  position: absolute;
  top: 8px;
  left: 8px;
}
.rate {
  font-weight: 600;
}

@media (max-width: 1440px) {
  .imgbox img {
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .imgbox img {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .catalogueimages {
    flex-wrap: wrap;
  }
  .imgbox {
    width: 50%;
  }
  .title {
    font-size: 60px;
    padding-top: 150px;
    font-weight: 200;
  }
  .body1 {
    height: 600px;
  }
  .mainimage img {
    height: 600px;
  }
}

@media (max-width: 425px) {
  .body1 {
    flex-wrap: wrap;
    height: 800px;
  }
  .text {
    width: 100%;
    height: 50%;
  }
  .title {
    font-size: 40px;
    padding-top: 100px;
    font-weight: 200;
  }
  .des {
    font-weight: lighter;
    margin-bottom: 50px;
    font-size: 20px;
  }
  .text button {
    background-color: black;
    color: white;
    height: 40px;
    width: 150px;
    border-radius: 20px;
    font-size: 20px;
  }
  .mainimage {
    width: 100%;
    height: 50%;
  }
  .mainimage img {
    height: 400px;
  }
  .bestsellers {
    height: 20px;
    gap: 10px;
    padding: 20px 5px;
  }
  .bestsellers h4 {
    font-size: 20px;
    margin-left: 0;
  }
  .viewmore {
    font-size: 16px;
    cursor: pointer;
    padding-right: 0;
  }
  .tabs a:not(:first-child) {
    display: none;
  }
  .tabs a.icon {
    float: right;
    display: block;
  }
  .tabs.responsive {
    position: relative;
  }
  .tabs.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .tabs.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .tabs a {
    border-right: none;
  }
  .catalogueimages {
    flex-wrap: wrap;
  }
  .imgbox {
    width: 100%;
  }
}
