.cart-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 999;
}

.cart-modal {
  position: fixed;
  top: 0;
  right: 0;
  width: 500px;
  height: 100%;
  background-color: #fff;
  box-shadow: -3px 0 10px rgba(0, 0, 0, 0.3);
  overflow-y: auto;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
  direction: flex;
  flex-direction: column;
}

.cart-modal.open {
  transform: translateX(0);
}

.title {
  font-size: x-large;
  padding-top: 0;
  background-color: black;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 10px;
  align-items: center;
  font-weight: bold;
}
.productsadded {
  padding: 10px;
  overflow-y: auto;
  flex-grow: 1;
}
.cart-item {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.cart-item img {
  height: 100px;
  width: 100px;
}

.cart-info {
  padding-left: 2px;
}

.total {
  display: flex;
  flex-direction: column;
  padding: 10px;
  font-size: medium;
  font-weight: 600;
  border-top: 1px solid #ddd;
}

.checkout {
  color: black;
  height: 50px;
  width: 100%;
  border-color: black;
  background-color: #fff;
  font-weight: bold;
  font-size: medium;
}

.totaltest {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
